* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.services {
  background-image: url("/src/assets/project1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
}

.services-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.sign-up {
  background-image: url("/src/assets/project4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.sign-up-container {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrap {
  /* background: red; */
  height: 100%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content {
  max-width: 600px;
  min-width: 400px;
  background: #ab987a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.content label {
  margin-bottom: 7px;
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.content input {
  padding: 10px;
  margin-bottom: 16px;
  border: none;
  border-radius: 5px;
  min-width: 300px;
}

.content button {
  background: #0f1626;
  color: white;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
  transform: translateX(50%);
  text-align: center;
  cursor: pointer;
}

.content button:hover {
  background: #ff5330;
  transition: 0.2s ease-in-out;
  /* color: black; */
}

.form-content p {
  text-align: center;
  font-size: 14px;
  color: black;
  margin-top: 10px;
  font-style: italic;
}
